
input.dirPaths = ./input
pipeline.inputTypes = counts tables

pipeline.copyInput=Y

# This is a common set of functions used by many modules 
# with project-specific values, colors, names, etc.
PT=./resources/projectThemes.R

#BioModule biolockj.module.diy.GenMod AS Style
Style.scriptPath=./scripts/copy_resources.sh 
Style.resources=${PT}
Style.launcher=bash
## docker image ubuntu:latest
Style.imageName=ubuntu
Style.imageOwner=library
Style.imageTag=latest

#BioModule biolockj.module.diy.GenMod AS Petal
Petal.scriptPath=./scripts/petals.R 
Petal.launcher=Rscript
## docker image r-base:4.1.2
Petal.imageName=r-base
Petal.imageOwner=library
Petal.imageTag=4.1.2

#BioModule biolockj.module.diy.GenMod AS Sepal
Sepal.scriptPath=./scripts/sepals.R 
Sepal.launcher=Rscript
## docker image r-base:4.1.2
Sepal.imageName=r-base
Sepal.imageOwner=library
Sepal.imageTag=4.1.2

#BioModule biolockj.module.diy.Rmarkdown AS Review
Review.rmarkdown = ./scripts/review.Rmd
AF=../assembledFigures
Review.resources = ${AF}/FigureN-sepals_example.pdf, ${AF}/FigureN-sepals_example-legend.md
## docker image biolockjdevteam/r-rmd:2020-01-15
# The Rmarkdown module default is rocker/r-rmd:latest. 
# This tag is not versioned (the only tag is "latest").
# The biolockjdevteam copy is identical to that, 
# but it is tagged with the date that image was pushed.
Review.imageName=r-rmd
Review.imageOwner=biolockjdevteam
Review.imageTag=2020-01-15
